<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Show</servlet-name>
        <servlet-class>Show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>Register_Problems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reply</servlet-name>
        <servlet-class>Reply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_transaction</servlet-name>
        <servlet-class>Register_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_transaction</servlet-name>
        <servlet-class>Delete_transaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_history</servlet-name>
        <servlet-class>Register_history</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_customer</servlet-name>
        <servlet-class>Register_customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_newcustomer</servlet-name>
        <servlet-class>Delete_newcustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_transaction1</servlet-name>
        <servlet-class>Delete_transaction1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_transaction1</servlet-name>
        <servlet-class>Register_transaction1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_history</servlet-name>
        <servlet-class>Delete_history</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_history</servlet-name>
        <servlet-class>Update_history</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_transaction</servlet-name>
        <servlet-class>Update_transaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_offers</servlet-name>
        <servlet-class>Register_offers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_offers</servlet-name>
        <servlet-class>Update_offers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_offers</servlet-name>
        <servlet-class>Delete_offers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Problems</servlet-name>
        <servlet-class>Delete_Problems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_Replyproblems</servlet-name>
        <servlet-class>Register_Replyproblems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_Problems</servlet-name>
        <servlet-class>Register_Problems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_user</servlet-name>
        <servlet-class>Register_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_email</servlet-name>
        <servlet-class>Register_email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_Problems1</servlet-name>
        <servlet-class>Register_Problems1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_logout</servlet-name>
        <servlet-class>user_logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Show</servlet-name>
        <url-pattern>/Show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reply</servlet-name>
        <url-pattern>/Reply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_transaction</servlet-name>
        <url-pattern>/Register_transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_transaction</servlet-name>
        <url-pattern>/Delete_transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_history</servlet-name>
        <url-pattern>/Register_history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_customer</servlet-name>
        <url-pattern>/Register_customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_newcustomer</servlet-name>
        <url-pattern>/Delete_newcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_transaction1</servlet-name>
        <url-pattern>/Delete_transaction1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_transaction1</servlet-name>
        <url-pattern>/Register_transaction1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_history</servlet-name>
        <url-pattern>/Delete_history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_history</servlet-name>
        <url-pattern>/Update_history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_transaction</servlet-name>
        <url-pattern>/Update_transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_offers</servlet-name>
        <url-pattern>/Register_offers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_offers</servlet-name>
        <url-pattern>/Update_offers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_offers</servlet-name>
        <url-pattern>/Delete_offers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Problems</servlet-name>
        <url-pattern>/Delete_Problems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_Replyproblems</servlet-name>
        <url-pattern>/Register_Replyproblems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_Problems</servlet-name>
        <url-pattern>/Register_Problems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_user</servlet-name>
        <url-pattern>/Register_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_email</servlet-name>
        <url-pattern>/Register_email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_Problems1</servlet-name>
        <url-pattern>/Register_Problems1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_logout</servlet-name>
        <url-pattern>/user_logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>mainboot.jsp</welcome-file>
    </welcome-file-list>
</web-app>
